.system {
  max-width: 1920px;
  margin: 0 auto;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    @media (max-width: 1400px) {
      grid-template-rows: repeat(1, 1fr);
    }
  }

  &__item {
    &_image {
      display: block;
      width: 100%;

      @media (max-width: 992px) {
        max-width: 100%;
        width: auto;
        max-height: 100%;
      }
    }

    &_title {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 90px;
      text-transform: uppercase;
      color: #292929;
      padding: 40px 0;

      @media (max-width: 992px) {
        font-size: 40px;
        padding: 32px 40px 0;
      }
    }

    &_description,
    &_icon-description {
      font-family: "Roboto", Arial, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      letter-spacing: 2px;
    }

    &:nth-child(1) {
      margin-left: auto;
      margin-right: 75px;
      max-width: 625px;
      padding-top: 85px;

      @media (max-width: 1700px) {
        padding-top: 0;
      }

      @media (max-width: 1400px) {
        margin-right: 32px;
        margin-left: 32px;
      }
    }

    &:nth-child(2) {
      grid-row: span 2;

      @media (max-width: 992px) {
        grid-row: span 1;
      }
    }

    &:nth-child(3) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-row-gap: 0px;
      grid-column-gap: 15px;
      padding-top: 40px;
      background-color: #fbfbfb;

      @media (max-width: 1700px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: span 2;
        grid-row-gap: 55px;
      }
    }

    &_icon {
      display: grid;
      justify-items: center;
      padding: 0px 35px;
      gap: 20px;

      &-description {
        text-align: center;
        margin-bottom: 158px;
      }

      &-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        font-weight: 800;
        text-align: center;
        text-transform: uppercase;
      }

      @media (max-width: 1700px) {
        &:nth-child(3) {
          grid-column: span 2;
        }
      }
    }
  }
}
