.system {
  display: grid;
  grid-template-columns: repeat(3, 300px) 1fr;

  @media screen and (max-width: 1140px) {
    grid-template-columns: 1fr 1fr;
  }

  &__inner {
    grid-column: 1/4;
    grid-row: 1/2;
    max-width: 624px;
    justify-self: right;
    padding: 124px 76px 40px 0px;

    @media screen and (max-width: 1140px) {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 32px;
    }

    &-title {
      color: #292929;
      font-family: Arial;
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 160px;
      letter-spacing: 4px;
      margin-bottom: 34px;

      @media screen and (max-width: 1140px) {
        color: #292929;
        font-family: Arial;
        font-size: 60px;
        font-style: normal;
        font-weight: 900;
        line-height: 79.25px;
        letter-spacing: 3px;
      }
    }

    &-description {
      color: #292929;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2px;
      margin-bottom: 41px;
    }
  }

  &__item {
    text-align: center;
    padding: 0 44px 44px;

    &-mode {
      grid-column: 1/2;
      grid-row: 2/4;
      text-align: center;

      @media screen and (max-width: 1140px) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
    }
    &-nutrition {
      grid-column: 2/3;
      grid-row: 2/3;
      text-align: center;

      @media screen and (max-width: 1140px) {
        grid-column: 2/3;
        grid-row: 2/3;
      }
    }
    &-programm {
      grid-column: 3/4;
      grid-row: 2/3;
      text-align: center;

      @media screen and (max-width: 1140px) {
        grid-column: 1/3;
        grid-row: 3/4;
        margin-top: 76px;
      }
    }
    &-icon {
      margin-bottom: 70px;
    }
    &-title {
      color: #292929;
      text-align: center;
      font-family: Arial;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 1px;
      margin-bottom: 52px;
    }
    &-description {
      color: #000;
      text-align: center;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 2px;
    }
  }

  &__previev {
    grid-column: 4/5;
    grid-row: 1/3;
    background: url(/img/man1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 1140px) {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-bottom: 38px;
    }
  }
}
